@page "/learnBlazor/bindprop"


<h3>Product - Data Binding</h3>

Name : @Product.Name <br/>
IsActive : @Product.isActive <br />
Price : @Product.Price <br />
This Product is : @(Product.isActive? "Active" : "InActive")     <br />
Is Active: <input type="checkbox" @bind="@Product.isActive"/> <br />
Input Price:
<input type="number" @bind="@Product.Price" bind:event="oninput" /> <br />

<br />
Produt Properties
<select @bind="selectedProp">
    @foreach(var prop in Product.ProductProperties)
    {
        <option value="@prop.Key">@prop.Value</option>
    }
</select>
<br/>
Selected Prop : @selectedProp <br/>

@if (!string.IsNullOrEmpty(selectedProp))
{
    <p>Selected value : @Product.ProductProperties.FirstOrDefault(u => u.Key == selectedProp).Value</p>
}


@code {
    private string selectedProp = "";

    Models.Product Product = new()
    {
      Id = 1,
      Name = "Product 1",
      Price = 100.0,
      isActive = true,
      ProductProperties = new List<Models.Product_Prop>()
      {
          new Models.Product_Prop {Id = 1, Key = "Color", Value = "Red"},
          new Models.Product_Prop {Id = 1, Key = "Size", Value = "20oz"},
          new Models.Product_Prop {Id = 1, Key = "Flavor", Value = "Rose"}
      }    
    };
}
